name: Build & Publish KernelManager Controller Docker image

on:
  push:
    tags:
      - v**
  workflow_dispatch:  # Allows to trigger the workflow manually in GitHub UI

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  push_to_registry:
    name: Build & Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v5.9.0
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        # semver has default priority 900, sha has default priority 100
        # ref has default priority 600
        # see <https://github.com/docker/metadata-action#priority-attribute>
        # also, sha has a default prefix of '-sha'
        # see <https://github.com/docker/metadata-action#typesha>
        tags: |
          type=semver,pattern={{version}}
          type=sha,priority=850,prefix=
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build and push multi-arch docker image on release
      run: |
        make docker-buildx IMG=${{ steps.meta.outputs.tags }}
