name: Build && Test

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'config/**'

jobs:
  build:
    name: Build && Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: Build
        run: |
          go mod tidy
          make build
      - name: Test
        run: |
          go mod tidy
          make test
